.header {
    max-width: 1344px;
    margin: 0 auto;
}

.container {
    max-width: 1344px;
    min-width: 1024px;
    margin: 0 auto;
}

.bottom-bar {
    display: flex;
}

.head-element:nth-of-type(1) {

}

.head-element:nth-of-type(2) {

}

.head-element:nth-of-type(3) {
    text-align: right;
}

.search {
    width: 576px;
    height: 40px;
    border: 2px solid gray;
}

.search-button {
    width: 78px;
    height: 40px;
    border: 2px solid gray;
}

.nav-bar {
    display: flex;
}

.navigation {
    flex: 1 100px;
}

.navigation a {
    color: #251f1f;
    font: 16px;
    line-height: 36px;
    padding: 14px 12px 13px 10px;
    cursor: pointer;
}

.navigation a:hover {
    transition: all .3s;
    color: red;
}

.navigation:nth-of-type(1) {
    text-align: left;
}

.navigation:nth-of-type(2) {
    flex: 5 100px;
}

.navigation:nth-of-type(3) {
    text-align: right;
}

.left-column {
    width: 25%;
    height: 700px;
    float: left;
    border: 2px solid black;
    box-sizing: border-box;
    vertical-align: top;
    padding-left: 6px;
    padding-right: 6px;
}

.right-column {
    width: 75%;
    height: 700px;
    border: 2px solid black;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    padding-left: 6px;
    padding-right: 6px;
}